.app__scrolltop {
    z-index: 10;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-none {
    opacity: 0;
    visibility: hidden;
}

.app__scrolltop a {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.app__scrolltop svg {
    color: white;
    font-size: 45px;
}


/* Break Points */

@media only screen and (max-width: 992px) {
    .app__scrolltop svg {
        font-size: 35px;
    }

    .app__scrolltop a {
        border-radius: 20%;
        background-color: black;
    }
}