.app__whatsapptop {
    z-index: 10;
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.scroll-none {
    opacity: 0;
    visibility: hidden;
}

.app__whatsapptop a {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.app__whatsapptop svg {
    color: white;
    font-size: 45px;
}

.app__whatsapptop svg:hover {
    color: #E77937;
}

/* Break Points */

@media only screen and (max-width: 992px) {
    .app__whatsapptop svg {
        font-size: 35px;
    }

    .app__whatsapptop a {
        border-radius: 20%;
    }
    .app__whatsapptop {
    bottom: 80px;
}

}